*,
::befor,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

.container {
    position: relative;
    width: clamp(300px, 55vw, 1400px);
    margin: 58px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.choice-dark-mode {
    display: flex;
    align-items: center;
}

.not-definition {
    display: none;
    text-align: center;

    p {
        &:nth-child(1) {
            font-size: 64px;
        }
        &:nth-child(2) {
            @extend %headingSInter;
            font-weight: 700;
        }
        &:nth-child(3) {
            @extend %bodyMInter;
        }
    }

    &.active{
        display: block;
    }
}