// font-family: 'Inconsolata', monospace;
// font-family: 'Inter', sans-serif;
// font-family: 'Lora', serif;


%headingLInter {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

%headingMInter {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}