// font-family: 'Inconsolata', monospace;
// font-family: 'Inter', sans-serif;
// font-family: 'Lora', serif;


%headingLInter {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

%headingMInter {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

%headingSInter {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
}

%bodyMInter {
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
}

%bodySInter {
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
}

%headingLLora {
    font-size: 4rem;
    font-family: 'Lora';
    font-weight: 700;
}

%headingMLora {
    font-size: 1.5rem;
    font-family: Lora;
}

%headingSLora {
    font-size: 1.25rem;
    font-family: Lora;
}

%bodyMLora {
    font-size: 1.125rem;
    font-family: Lora;
    line-height: 1.5rem;
}

%bodySLora {
    font-size: 0.875rem;
    font-family: Lora;
    text-decoration: underline;
}

%headingLInconsolata {
    font-size: 4rem;
    font-family: Inconsolata;
    font-weight: 700;
}

%headingMInconsolata {
    font-size: 1.5rem;
    font-family: Inconsolata;
}

%headingSInconsolata {
    font-size: 1.25rem;
    font-family: Inconsolata;
}

%bodyMInconsolata {
    font-size: 1.125rem;
    font-family: Inconsolata;
    line-height: 1.5rem;
}

%bodySInconsolata {
    font-size: 0.875rem;
    font-family: Inconsolata;
    text-decoration: underline;
}