// font-family: 'Inconsolata', monospace;
// font-family: 'Inter', sans-serif;
// font-family: 'Lora', serif;


%headingL {
    font-size: 4rem;
    font-weight: 700;
}

%headingM {
    font-size: 1.5rem;
}

%headingS {
    font-size: 1.25rem;
}

%bodyM {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

%bodyS {
    font-size: 0.875rem;
    text-decoration: underline;
}
