// colors

$backgroundDark: #050505;
$backgroundInputDark: #1F1F1F;
$textBlack: #2D2D2D;
$separationDark: #3A3A3A;

$textGrey: #757575;
$separation: #E9E9E9;
$backgroundInput: #F4F4F4;
$white: #FFFFFF;

$violet: #A445ED;
$red: #FF5252;